@model Post

<div class="row">
	<div class="col-lg-8">
		<div class="bg-white p-4">
			<h1 class="h4 mb-4">@Model.Title</h1>
			<div class="tags">
				@foreach (var tag in Model.Tags)
				{
					<a href="/posts/tag/@tag.Url" class="badge bg-@tag.Color bg-opacity-10 text-@tag.Color mb-2 fw-bold">@tag.Text</a>
				}
			</div>
			<img src="~/img/@Model.Image" class="img-fluid rounded" alt="" />

			<ul class="list-inline my-3">
				<li class="list-inline-item"><i class="bi bi-calendar2-date"></i> @Model.CreatedTime.ToString("d")</li>
				<li class="list-inline-item"><i class="bi bi-person-circle"></i><a href="/Users/Profile/@Model.User.UserName"> @Model.User.Name</a></li>
			</ul>

			<div>@Html.Raw(@Model.Content)</div> @*html.raw, html etiketlerini yorumlayıp sayfa uzerinde o sekide gosterir yani etiketleri gostermez artık.*@

		</div>

		<div class="bg-white mt-3">
			<div class="card border-0">
				<div class="card-header pb-0">
					<h4><span id="commentCount">@Model.Comments.Count() </span> adet yorum var</h4>
				</div>
				<div class="card-body">
					<div id="comments">
						@*asagidaki ajax requesti ile iliskilendirildi*@
						@foreach (var comment in Model.Comments)
						{
							<div class="my-4 d-flex">
								<img src="/img/@comment.User.Image" alt="" class="avatar rounded-circle float-start me-3" />
								<div>
									<div class="mb-2 d-flex">
										@*d-flex diyerek ayni div altindaki etiketleri yan yana getirirsin etiket ismi farketmez*@
										<h6 class="me-2">
											<a href="/Users/Profile/@comment.User.UserName"> @comment.User.Name</a>
										</h6>
										<small>@comment.CreatedTime.ToString("g")</small> @*gün ay yıl saat dakika bilgileri icin "g"*@
									</div>
									<p>@comment.Text</p>
								</div>
							</div>
						}
					</div>
					<hr class="my-4" />
					@if (User.Identity!.IsAuthenticated)
					{
						<div>
							<h4>Yorum Ekle</h4>
							<form asp-action="AddComment" method="post">
								<input type="hidden" value="@Model.Id" id="PostId" name="postId" />
								@* <input type="hidden" value="@Model.Url" name="url"/> *@

								<div class="col-md-12 mb-3">
									<label for="Text" class="form-label">Yorum</label>
									<input type="text" name="text" id="text" rows="3" class="form-control" />
								</div>

								<div class="mb-3">
									<button id="btnYorumKayit" type="submit" class="btn btn-primary">Kaydet</button>
								</div>

							</form>
						</div>
					}
					else
					{
						<p>Yorum yapabilmek icin giris yapmalisiniz <a href="/users/login">Login</a></p>
					}
				</div>
			</div>
		</div>

	</div>

	<div class="col-lg-4">

		@*burada tag list vardı her sayfada ayrı ayrı yazmak yerine viewcomponent yaptık, artık her yerden tek bir yer sayesinde erisecek*@

		<vc:tags-menu></vc:tags-menu> @*viewcomponenti boyle cagiriyoruz.*@
		<vc:new-posts></vc:new-posts>

		@* @await Component.InvokeAsync("TagsMenu")
		@await Component.InvokeAsync("NewPosts") *@

	</div>

</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> @*jquery cdn minified*@
	<script type="text/javascript">
		$(document).ready(function () { //burası sayfadaki butun bilesenler yuklensin ondan sonra js kodları calıssın demek, ki zaten js sayfa uzerinde yuklenen bilesenlere ihtiyac duyar

			$("#btnYorumKayit").click(function () {
				$.ajax({
					type: 'post',
					url: '@Url.Action("AddComment")',
					dataType: 'json',
					data: {
						postId: $('#PostId').val(),
						userName: $('#UserName').val(), //sol taraftakiler controllerdaki parametre, sagdakiler input etiketindeki id isimleri
						text: $('#text').val(),
					},//append var olan kayitlarin sonuna eklemek icin kullanilir
					success: function (yorum) {
						console.log(yorum);
						var date = new Date(yorum.createdTime);
						$("#comments").append(`
								<div class="my-4 d-flex">
										<img src="/img/${yorum.avatar}" alt="" class="avatar rounded-circle float-start me-3" />
										<div>
											<div class="mb-2 d-flex">
														<h6 class="me-2">${yorum.userName}</h6>
														<small>${date.toLocaleDateString()}</small>
											</div>
													<p>${yorum.text}</p>
										</div>
									</div>
						`);
						$("#UserName").val('');
						$("#text").val('');

						var adet = parseInt($("#commentCount").text()); //yorum yapildigi an countta guncellensin, sayfanın yenilenmesine gerek kalmadan guncellensin
						$("#commentCount").text(adet + 1);
					}
				});
				return false;
			});

		});
	</script>
}